<!-- Loop over each blog post in the blogPosts array -->
    {{#each blogPosts}}
    <div class="blog-post">
        <h2><a href="/blog/{{id}}">{{title}}</a></h2>
        <p>Posted by {{author}} on {{format_date date_created}}</p>
        <div class="post-content">
            {{contents}}
        </div>

        <!-- Display comments for the current blog post -->
        <div class="comments">
            <h3>Comments</h3>
            <ul>
                {{#each comments}}
                <li>
                    <p>Comment by {{user}} on {{format_date date}}</p>
                    <p>{{comment_text}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
</body>

</html>